<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- описание сервлета -->
       <servlet>
          <servlet-name>Login</servlet-name>
          <servlet-class>app.servlets.Login</servlet-class>
      </servlet>
      <servlet-mapping> <!-- привязка к адресу -->
                   <servlet-name>Login</servlet-name>
                 <url-pattern>/</url-pattern>
             </servlet-mapping>
    <!--        <filter>
                <filter-name>LoginFilter</filter-name>
                <filter-class>app.servlets.filter.LoginFilter</filter-class>
            </filter>

            <filter-mapping>
                <filter-name>LoginFilter</filter-name>
                <url-pattern>/</url-pattern>
            </filter-mapping> -->

           <servlet> <!-- описание сервлета -->
        <servlet-name>SiginUp</servlet-name>
        <servlet-class>app.servlets.SiginUp</servlet-class>
    </servlet>
    <servlet-mapping> <!-- привязка к адресу -->
        <servlet-name>SiginUp</servlet-name>
        <url-pattern>/siginup</url-pattern>
    </servlet-mapping>

    <servlet> <!-- описание сервлета -->
        <servlet-name>Game</servlet-name>
        <servlet-class>app.servlets.Game</servlet-class>
    </servlet>
    <servlet-mapping> <!-- привязка к адресу -->
        <servlet-name>Game</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>


    <servlet> <!-- описание сервлета -->
        <servlet-name>Records</servlet-name>
        <servlet-class>app.servlets.Records</servlet-class>
    </servlet>
    <servlet-mapping> <!-- привязка к адресу -->
        <servlet-name>Records</servlet-name>
        <url-pattern>/records</url-pattern>
    </servlet-mapping>

    <servlet> <!-- описание сервлета -->
        <servlet-name>Menu</servlet-name>
        <servlet-class>app.servlets.Menu</servlet-class>
    </servlet>
    <servlet-mapping> <!-- привязка к адресу -->
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
</web-app>
